<?xml version="1.0"?>
<!--
/**
 * Copyright © Swarming Technology, LLC. All rights reserved.
 */
-->
<config>
    <modules>
        <Buzzi_Publish>
            <version>1.0.0</version>
        </Buzzi_Publish>
    </modules>
    <global>
        <helpers>
            <buzzi_publish>
                <class>Buzzi_Publish_Helper</class>
            </buzzi_publish>
        </helpers>
        <blocks>
            <buzzi_publish>
                <class>Buzzi_Publish_Block</class>
            </buzzi_publish>
        </blocks>
        <models>
            <buzzi_publish>
                <class>Buzzi_Publish_Model</class>
                <resourceModel>buzzi_publish_resource</resourceModel>
            </buzzi_publish>
            <buzzi_publish_resource>
                <class>Buzzi_Publish_Model_Resource</class>
                <entities>
                    <queue>
                        <table>buzzi_publish_queue</table>
                    </queue>
                </entities>
            </buzzi_publish_resource>
        </models>
        <resources>
            <buzzi_publish_setup>
                <setup>
                    <module>Buzzi_Publish</module>
                </setup>
            </buzzi_publish_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <buzzi_publish>
                    <file>buzzi/publish.xml</file>
                </buzzi_publish>
            </updates>
        </layout>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <buzzi_publish>
                        <class>buzzi_publish/observer_generateConfig</class>
                        <method>execute</method>
                    </buzzi_publish>
                </observers>
            </adminhtml_init_system_config>
            <admin_system_config_changed_section_buzzi_base>
                <observers>
                    <buzzi_publish>
                        <class>buzzi_publish/observer_eventsCronSetup</class>
                        <method>execute</method>
                    </buzzi_publish>
                </observers>
            </admin_system_config_changed_section_buzzi_base>
            <admin_system_config_changed_section_buzzi_publish_events>
                <observers>
                    <buzzi_publish>
                        <class>buzzi_publish/observer_eventsCronSetup</class>
                        <method>execute</method>
                    </buzzi_publish>
                </observers>
            </admin_system_config_changed_section_buzzi_publish_events>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Buzzi_Publish before="Mage_Adminhtml">Buzzi_Publish_Adminhtml</Buzzi_Publish>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <buzzi_publish_resend>
                <run>
                    <model>buzzi_publish/cron_resendFailed::process</model>
                </run>
            </buzzi_publish_resend>
            <buzzi_publish_cleaning>
                <run>
                    <model>buzzi_publish/cron_queueCleaning::process</model>
                </run>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
            </buzzi_publish_cleaning>
        </jobs>
    </crontab>
    <default>
        <buzzi_base>
            <publish>
                <resend_max_time>5</resend_max_time>
                <resend_frequency>Q</resend_frequency>
                <remove_immediately>1</remove_immediately>
                <removing_delay>1</removing_delay>
            </publish>
        </buzzi_base>
    </default>
</config>
