<?xml version="1.0"?>
<!--
/**
 * Copyright © Swarming Technology, LLC. All rights reserved.
 */
-->
<config>
    <sections>
        <buzzi_publish_events>
            <groups>
                <cart_abandonment>
                    <fields>
                        <track_online_customers>
                            <label>Track customers activity</label>
                            <comment>Cart is abandonment only if customer is not online any more. Depends on System -> Log -> Enable Log = Yes.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </track_online_customers>
                        <quote_last_action>
                            <label>Quote Last Action Timing</label>
                            <comment>The number of days, when a quote was updated last time.</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </quote_last_action>
                        <quotes_limit>
                            <label>Quotes Limit</label>
                            <comment>Limit of Abandoned Carts sent per cron call. Leave 0 or empty for unlimited.</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </quotes_limit>
                    </fields>
                </cart_abandonment>
            </groups>
        </buzzi_publish_events>
    </sections>
</config>
